body {
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #636268;
}

main {
    background-color:white;
}

ul, h3, h2, p {
    margin: 0;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.todoList {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    height: 100vh;
    background-color: #eee;
}


.todoItems {
    width: 40%;
}

.todoItems h2 {
    text-align: center;
    font-size: 35px;
}

.todoName p {
    font-size: 30px;
    font-weight: 600;
}

.todoItem {
    background-color: white;
    border-radius: 5px;
    height: 100px;
    margin: 15px 0;
    padding: 0 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.todoName {
    max-width: 260px;
}

.todoNew {
    width: 40%;
}

.todoNew h2 {
    padding-left: 35px;
    font-size: 35px;
}

.todoNewInput{
    width: 300px;
    height: 100px;
    margin-top: 15px;
    text-align: center;
    resize: none;
    overflow: hidden;
    font-size: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #636268;
}

.todoNewButton {
    display: inline-block;
    margin-top: 15px;
    margin-left: 75px;
    width: 140px;
    height: 30px;
    color: white;
    text-decoration: none;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: rgb(36, 145, 247) #000 rgb(6, 138, 215);
    border-radius: 6px;
    background: linear-gradient(rgb(15, 152, 243), rgb(22, 128, 227)) rgb(14, 134, 233);
    transition: 0.2s;
}

.todoNewButton:hover { 
    background: linear-gradient(#00bcf5, #0087f5) #00bcf5; 
}

.todoNewButton:active { 
    background: linear-gradient(#0087f5, #00bcf5) #0087f5; 
}

.todoNewButton:disabled {
    color: gray;
}

.todoName, .completeSwitch {
    margin: auto 0;
}

.complete {
    display: block;
    position: relative;
    padding-right: 35px;
    padding-top: 4px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.complete input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid grey;
    border-radius: 5px;
}

.complete:hover input ~ .checkmark {
    background-color: #ccc;
}

.complete input:checked ~ .checkmark {
    background-color: #2196F3;
    border: none;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.complete input:checked ~ .checkmark:after {
    display: block;
}
  
.complete .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}